/* ===== RESPONSIVE > 4K ===== */

@media (min-width: 2561px) {
    .marca__empresa p {
        font-size: 5vw;
    }

    #sobre, #servicos, #portifolio {
        font-size: 4vw;
    }
    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 350px;
    }
    .text-main {
        font-size: 1.4rem;
    }
    .desc {
        font-size: 1.3rem;
    }

    .port_hide_img {
        max-height: 88%;
        width: 70%;
        padding-top: 5.6rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }

    #contato a {
        font-size: 6vw;
    }
}

/* ===== RESPONSIVE 4K ===== */

@media (min-width: 1441px) and (max-width: 2560px) {
    .marca__empresa p {
        font-size: 5vw;
    }

    #sobre, #servicos, #portifolio {
        font-size: 4vw;
    }
    
    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 350px;
    }
    .text-main {
        font-size: 1.4rem;
    }
    .desc {
        font-size: 1.3rem;
    }

    .port_hide_img {
        max-height: 88%;
        width: 70%;
        padding-top: 5.6rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }

    #contato a {
        font-size: 6vw;
    }
}

/* ===== RESPONSIVE LAPTOP L ===== */

@media (min-width: 1025px) and (max-width: 1440px) {
    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 265px;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 25vw;
        height: 29vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 78%;
        padding-top: 5.6rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }
} 

/* ===== RESPONSIVE LAPTOP ===== */

@media (min-width: 769px) and (max-width: 1024px) {

    .marca__empresa p {
        font-size: 8vw;
    }

    .logo__transp {
        height: 36vh;
        margin: 36px 40px 0px -81px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 2.5rem;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 34vw;
        height: 30vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 80%;
        padding-top: 8rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }
}

/* ===== RESPONSIVE TABLET ===== */

@media (min-width: 426px) and (max-width: 768px) {

    .marca__empresa {
        min-height: 30vh;
    }

    .marca__empresa p {
        font-size: 8vw;
        margin-left: -42px;
    }

    .container {
        margin: 0 2vw;
    }

    .logo__transp {
        width: 38vw;
        height: auto;
        margin: 36px 40px 0px -81px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 2em;
    }

    .servicos__container, .portifolio__container {
        padding-left: 0px;
        margin: 0 2vw;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 2.3vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 60vw;
        height: 30vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 80%;
        padding-top: 7rem;
        padding-left: 2rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5rem 2rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }
}

/* ===== RESPONSIVE MOBILE L ===== */

@media (min-width: 376px) and (max-width: 425px) {
    .marca__empresa {
        min-height: 25vh;
    }
    .marca__empresa p {
        font-size: 8vw;
        margin-left: -60px;
    }
    .container {
        margin: 0 2vw;
    }

    .logo__transp {
        width: 38vw;
        height: auto;
        margin: 36px 40px 0px -81px;
    }
    .text {
        padding: 20px 20px 15px 20px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 1.7em;
        padding-bottom: 15px;
    }

    .servicos__container, .portifolio__container {
        padding-left: 0px;
        margin: 0 2vw;
        height: 11vh;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 3vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 80vw;
        height: 35vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 95%;
        padding-top: 4.5rem;
        padding-left: 0rem;
    }
    .port_div_img {
        gap: 30px;
        margin: 3rem 0rem 3rem 0;
    }
    .small_img img {
        width: 12vw;
        height: 100%;
    }
}

/* ===== RESPONSIVE MOBILE M e S ===== */

@media (max-width: 375px) {
    .marca__empresa {
        min-height: 22vh;
    }
    .marca__empresa p {
        font-size: 10vw;
        margin-left: -80px;
    }
    .container {
        margin: 0 2vw;
    }

    .logo__transp {
        width: 40vw;
        height: auto;
        margin: 35px 40px 0px -80px;
    }
    .text {
        padding: 10px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 1.7em;
        padding-bottom: 15px;
    }

    .servicos__container, .portifolio__container {
        padding-left: 0px;
        margin: 0 2vw;
        height: 11vh;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 2.9vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 85vw;
        height: 35vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 95%;
        padding-top: 4rem;
        padding-left: 0rem;
    }
    .port_div_img {
        gap: 20px;
        margin: 3rem 0rem 3rem 0;
    }
    .small_img img {
        width: 12vw;
        height: 100%;
    }
}

