/*===== FONTE DO TEXTO =====*/

@font-face {
    font-family: "Input Mono";
    src: url(../Fonts/InputMono-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

/*===== IMAGEM DE FUNDO =====*/

body {
    background-image: url(../IMG/backgroung.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*===== SCROLL BAR =====*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #1A1D3A;
}

::-webkit-scrollbar-thumb {
    background-color: #EC6242;
    border-radius: 50px;
}

/*===== NAVBAR =====*/

body, ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: #EC6242;
    text-decoration: none;
    font-family: 'Input Mono';
}

#logo img {
    width: 50%;
    padding-left: 15px;
}

/* .scrolled {
    display: none;
}

#logo_two img {
    width: 20%;
} */

#header {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background: #1A1D3A;
    z-index: 1000;
}

#menu {
    display: flex;
    list-style: none;
}

#menu a {
    display: block;
    padding: 1.6rem;
}

#menu a:hover {
    background: #EC6242;
    color: #1A1D3A;
}

#btn-mobile {
    display: none;
}

@media (max-width: 768px) {
    #btn-mobile {
        display: block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #1A1D3A;
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 208px;
        visibility: visible;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid white;
        border-right: none;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        color: #EC6242;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: #EC6242;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* ===== MARCA EMPRESA ===== */

.marca__empresa {
    display: block;
    min-height: 50vh;
    max-height: 80vh;
    margin: 101px 100px 0px 100px;
    padding-top: 42px;
    padding-left: 40px;
    width: 25vw;
}

.marca__empresa p {
    font-family: 'Input Mono';
    font-weight: bold;
    font-size: 4.3rem;
    color: #1A1D3A;
}

/* ===== DIVISÕES ===== */

.container {
    display: block;
    margin: 0 64px;
    height: 75vh;
    width: auto;
    background: rgba(255, 255, 255, 0.5);
}

.sobre__container {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/* ===== SOBRE ===== */

.logo__transp {
    height: 50vh;
    float: left;
    padding: 55px 0;
    margin: 36px 100px 0px -87px;
}

.text {
    padding-top: 67px;
}

#sobre, #servicos, #portifolio {
    font-family: 'Input Mono';
    color: #EC6242;
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 30px;
}

.text p {
    font-family: 'Montserrat';
    color: #1A1D3A;
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 33px;
}

.servicos__container, .portifolio__container {
    display: block;
    margin: 0 64px;
    height: 15vh;
    width: auto;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 50px;
}

#servicos, #portifolio{
    margin-top: -40px;
}

/* ===== CARDS ===== */

.cards_serv, .portifolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 2000px;
}

.card_s {
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin: 100px 0;
    background: #262626;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
}

.card_header {
    width: 100%;
    height: 140px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-top: 20px;
}

.text-main {
    font-family: 'Input Mono';
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
    font-size: 1.2rem;
}

.desc {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    margin: 40px 20px 0 20px;
    color: #fff;
}

/* ===== PORTIFOLIO =====*/

.portifolio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    height: 60vh;
}

.card img {
    border-radius: 15px;
    width: 20vw;
    height: 36vh;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid black;
    margin-bottom: 15px;
}

.complete_div {
    border-radius: 50px;
}

/* HIDDEN PORTIFOLIO */

#port_one, #port_two, #port_three {
    display: none;
    padding: 0 12px;
    height: auto;
}

/* Imagens Selecionada*/

.port_img {
    display: flex;
    justify-content: space-between;
}

.port_hide_img {
    height: auto;
    max-height: 77.2%;
    object-fit: cover;
    position: relative;
    width: 60%;
    padding-top: 5.6rem;
    padding-left: 5rem;
}

#one_img_one, #two_img_one, #three_img_one {
    display: block;
}

#one_img_two, #one_img_three, #one_img_four,
#two_img_two, #two_img_three, #two_img_four,
#three_img_two, #three_img_three, #three_img_four {
    display: none;
}

/* SELEÇÃO DE IMAGENS */

.port_div_img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: cover;
    margin-top: 4.5rem;
    gap: 50px;
    margin-right: 5rem;
}

.small_img img {
    width: 10vw;
    height: 100%;
    object-fit: cover;
}

.hover_img:hover img {
    border: 0.5px solid #EC6242;
    transition: 300ms;
}

.selected img {
    border: 2px solid #EC6242;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
}

footer {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer a {
    font-size: 70px;
}

/* ===== RESPONSIVE > 4K ===== */

@media (min-width: 2561px) {
    .marca__empresa p {
        font-size: 5vw;
    }

    #sobre, #servicos, #portifolio {
        font-size: 4vw;
    }
    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 350px;
    }
    .text-main {
        font-size: 1.4rem;
    }
    .desc {
        font-size: 1.3rem;
    }

    .port_hide_img {
        max-height: 88%;
        width: 70%;
        padding-top: 5.6rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }

    #contato a {
        font-size: 6vw;
    }
}

/* ===== RESPONSIVE 4K ===== */

@media (min-width: 1441px) and (max-width: 2560px) {
    .marca__empresa p {
        font-size: 5vw;
    }

    #sobre, #servicos, #portifolio {
        font-size: 4vw;
    }
    
    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 350px;
    }
    .text-main {
        font-size: 1.4rem;
    }
    .desc {
        font-size: 1.3rem;
    }

    .port_hide_img {
        max-height: 88%;
        width: 70%;
        padding-top: 5.6rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }

    #contato a {
        font-size: 6vw;
    }
}

/* ===== RESPONSIVE LAPTOP L ===== */

@media (min-width: 1025px) and (max-width: 1440px) {
    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 265px;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 25vw;
        height: 29vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 78%;
        padding-top: 5.6rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }
} 

/* ===== RESPONSIVE LAPTOP ===== */

@media (min-width: 769px) and (max-width: 1024px) {

    .marca__empresa p {
        font-size: 8vw;
    }

    .logo__transp {
        height: 36vh;
        margin: 36px 40px 0px -81px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 2.5rem;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 2vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 34vw;
        height: 30vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 80%;
        padding-top: 8rem;
        padding-left: 5rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5.6rem 5rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }
}

/* ===== RESPONSIVE TABLET ===== */

@media (min-width: 426px) and (max-width: 768px) {

    .marca__empresa {
        min-height: 30vh;
    }

    .marca__empresa p {
        font-size: 8vw;
        margin-left: -42px;
    }

    .container {
        margin: 0 2vw;
    }

    .logo__transp {
        width: 38vw;
        height: auto;
        margin: 36px 40px 0px -81px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 2em;
    }

    .servicos__container, .portifolio__container {
        padding-left: 0px;
        margin: 0 2vw;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 2.3vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 60vw;
        height: 30vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 80%;
        padding-top: 7rem;
        padding-left: 2rem;
    }
    .port_div_img {
        gap: 50px;
        margin: 5rem 2rem 3rem 0;
    }
    .small_img img {
        width: 10vw;
        height: 100%;
    }
}

/* ===== RESPONSIVE MOBILE L ===== */

@media (min-width: 376px) and (max-width: 425px) {
    .marca__empresa {
        min-height: 25vh;
    }
    .marca__empresa p {
        font-size: 8vw;
        margin-left: -60px;
    }
    .container {
        margin: 0 2vw;
    }

    .logo__transp {
        width: 38vw;
        height: auto;
        margin: 36px 40px 0px -81px;
    }
    .text {
        padding: 20px 20px 15px 20px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 1.7em;
        padding-bottom: 15px;
    }

    .servicos__container, .portifolio__container {
        padding-left: 0px;
        margin: 0 2vw;
        height: 11vh;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 3vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 80vw;
        height: 35vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 95%;
        padding-top: 4.5rem;
        padding-left: 0rem;
    }
    .port_div_img {
        gap: 30px;
        margin: 3rem 0rem 3rem 0;
    }
    .small_img img {
        width: 12vw;
        height: 100%;
    }
}

/* ===== RESPONSIVE MOBILE M e S ===== */

@media (max-width: 375px) {
    .marca__empresa {
        min-height: 22vh;
    }
    .marca__empresa p {
        font-size: 10vw;
        margin-left: -80px;
    }
    .container {
        margin: 0 2vw;
    }

    .logo__transp {
        width: 40vw;
        height: auto;
        margin: 35px 40px 0px -80px;
    }
    .text {
        padding: 10px;
    }

    #sobre, #servicos, #portifolio {
        font-size: 1.7em;
        padding-bottom: 15px;
    }

    .servicos__container, .portifolio__container {
        padding-left: 0px;
        margin: 0 2vw;
        height: 11vh;
    }

    .container {
        height: auto;
    }

    .text p {
        font-size: 2.9vw;
    }

    .card_s {
        width: 316px;
        margin: 50px 0;
    }
    .text-main {
        font-size: 1.1rem;
    }
    .desc {
        font-size: 1.1rem;
    }

    .card img {
        width: 85vw;
        height: 35vh;
    }

    .port_hide_img {
        max-height: 100%;
        width: 95%;
        padding-top: 4rem;
        padding-left: 0rem;
    }
    .port_div_img {
        gap: 20px;
        margin: 3rem 0rem 3rem 0;
    }
    .small_img img {
        width: 12vw;
        height: 100%;
    }
}
